<div style="margin:auto; width:80%; margin-top:10px">
  <div class="row">
    <!--info pane-->
    <div class="col-md-8">

      <div class="card" style="padding: 24px;">
        <div class="card-block">
          <div class="card-text title">
            <span style="font-size:30px">{{place.name}}</span>
            <span class="pull-right">
                 <app-rating [rating]="place.rating"></app-rating>
              </span>
            <br>
            <small>
               {{place.vicinity}}
              </small>
          </div>
        </div>
      </div>

      <!--Reviews -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="chat-bubble"></clr-icon> Reviews
          </div>
        </div>
        <div class="card-block" *ngFor="let review of place.reviews">
          <div class="card-header">
            <img [src]="review.profile_photo_url" style="height:50px" alt="Profile picture"> {{review.author_name}}
            <small style="color:#a2aaaf">{{review.relative_time_description}}</small>
            <span class="pull-right">
                <app-rating [rating]="review.rating"></app-rating>
              </span>
          </div>
          <div class="card-text">
            {{review.text}}
          </div>
        </div>
      </div>
      <!--/Reviews -->

      <!--Our Reviews -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="neutral-face"></clr-icon> Our Users Reviews
            <span class="pull-right"> 
              <button class="btn btn-link" (click)="openAddNew=true" ><clr-icon shape="note-edit"></clr-icon> Add</button> 
            </span>
          </div>
        </div>
       
        <div class="card-block" *ngFor="let ourReview of ourReviews">
          <div class="card-header">
            {{ourReview.names}} <small style="color:#a2aaaf">{{ourReview.createdAt | date:'dd MMM yy'}}</small>
            <span class="pull-right">
                <app-rating [rating]="ourReview.rating"></app-rating>
              </span>
          </div>
          <div class="card-text">
            {{ourReview.review}}
          </div>
        </div>
      </div>
      <!--/Our Reviews -->


      <!--Photos -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="camera"></clr-icon> Photo Gallery
          </div>
          <div class="card-text">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>

      </div>
      <!--/Photos -->

    </div>
    <!--/info pane-->

    <!--Brief info side pane-->
    <div class="col-md-4">

      <div class="card">
        <div class="card-img">
          <img *ngIf="place.photos?.length>=1" [src]="place.photos[0].getUrl({ maxWidth: 400, maxHeight: 170 })">
          <img *ngIf="!place.photos" [src]="place.icon">
        </div>
        <div class="card-block">
          <div class="card-text">
            <p align="center" class="website" style="margin-bottom:24px">
              <a href="tel://{{place.formatted_phone_number}}"> <i class="fa fa-phone"></i>  {{place.formatted_phone_number}}</a>
            </p>
            {{place.formatted_address}}
            <p align="center">
              <a [href]="place.website" target="_blank"> <i class="fa fa-link"></i>  {{place.website}}</a>
            </p>
            <p align="center" class="socials">
              <i class="fa fa-facebook-official"></i>
              <i class="fa fa-google-plus"></i>
              <i class="fa fa-twitter"></i>
            </p>
          </div>
        </div>
      </div>

      <!--Business hours -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="clock"></clr-icon> Business Hours
          </div>
        </div>
        <div class="card-block">
          <div class="card-text">
            <ul class="business">
              <li *ngFor="let weekday of place.opening_hours?.weekday_text">{{weekday}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!--/Business hours -->

      <!--Your Business Claim -->
      <div class="card" style="border-bottom-right-radius:5px;border-bottom-left-radius:5px; margin-bottom:10px">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="lightbulb"></clr-icon> Is this your business?
          </div>
        </div>
        <a [href]="place.url" target="_blank" class="more">CLAIM IT HERE &nbsp; &rarr;</a>
      </div>
      <!--/Your Business Claim -->

    </div>
    <!--/Brief info side pane-->

  </div>

</div>


<!--Add Review Modal-->
<clr-modal [(clrModalOpen)]="openAddNew" [clrModalClosable]="false">

  <h3 class="modal-title">Add Your Review</h3>
  <div class="modal-body">
    <clr-alert clrAlertType="alert-{{alert?.type}}" [(clrAlertClosed)]="alert_closed" [clrAlertAppLevel]="appLevelAlert">
      <div class="alert-item">
        <span class="alert-text" [innerHTML]="alert?.message"></span>
      </div>
    </clr-alert>

    <form [formGroup]="addForm" novalidate>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="names">Names</label>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <label for="names" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
              [class.invalid]="addForm.get('names').invalid
                    && (addForm.get('names').dirty || addForm.get('names').touched)">
            <input type="text" id="names" placeholder="Enter full name" formControlName="names" size="40">
             <span class="tooltip-content">
                    Names is required.
                </span>
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="rating">Rating</label>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <label for="rating" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
              [class.invalid]="addForm.get('rating').invalid
                    && (addForm.get('rating').dirty || addForm.get('rating').touched)">
            <input type="number" id="rating" step="0.1" placeholder="Enter rating from 1-5" formControlName="rating" size="40">
             <span class="tooltip-content"> 
                <small ion-text color="primary" *ngIf="addForm.get('rating').hasError('required')"> Rating is required.</small>
                <small ion-text color="primary" *ngIf="addForm.get('rating').hasError('min')"> Rating must be greater than 0.</small>
                <small ion-text color="primary" *ngIf="addForm.get('rating').hasError('max')"> Rating must be 5 or less.</small>
                </span>
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="review">Review</label>
          </div>
          <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <textarea name="review" id="review" cols="30" rows="5" class="form-control" formControlName="review"></textarea>
            <span class="text-danger" *ngIf="addForm.get('review').invalid
                    && (addForm.get('review').dirty || addForm.get('review').touched)"> 
              Review is required 
            </span>
          </div>
        </div>
      </section>
    </form>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openAddNew = false; addForm.reset()">Close</button>
    <button [clrLoading]="addLoader" (click)="addReview()" type="button" class="btn btn-primary" [disabled]="addForm.invalid || addForm.pristine"><clr-icon shape="plus"></clr-icon> Add</button>
  </div>

</clr-modal>
<!--/Add Review Modal-->