<div style="margin:auto; width:90%; margin-top:10px">
  <div class="row">
    <!--info pane-->
    <div class="col-md-7">

      <div class="card" style="padding: 24px;">
        <div class="card-block">
          <div class="card-text title">
            <span style="font-size:30px">Testing Restuarant Details</span>
            <!--  {{place.name}} -->
            <span class="pull-right">
                 <app-rating rating="4"></app-rating>
              </span>
          </div>
        </div>
      </div>

      <!--Reviews -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="chat-bubble"></clr-icon> Reviews
          </div>
        </div>
        <div class="card-block">
          <div class="card-header">
            Theophilus Omoregbee <small>09 JUNE 2016</small>
            <span class="pull-right">
                <app-rating rating="4"></app-rating>
              </span>
          </div>
          <div class="card-text">
            hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf
            hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf
            dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh
            djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d
            hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf
          </div>
        </div>
      </div>
      <!--/Reviews -->

      <!--Our Reviews -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="neutral-face"></clr-icon> Our Users Reviews
          </div>
        </div>
        <div class="card-block">
          <div class="card-header">
            Theophilus Omoregbee <small>09 JUNE 2016</small>
            <span class="pull-right">
                <app-rating rating="4"></app-rating>
              </span>
          </div>
          <div class="card-text">
            hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf
            hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf
            dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh
            djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d
            hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf
          </div>
        </div>
      </div>
      <!--/Our Reviews -->


      <!--Photos -->
      <div class="card">
        <div class="card-block">
          <div class="card-header">
            <clr-icon shape="camera"></clr-icon> Photo Gallery
          </div>
        </div>
        <div class="card-block">
          <div class="card-header">
            Theophilus Omoregbee <small>09 JUNE 2016</small>
            <span class="pull-right">
                <app-rating rating="4"></app-rating>
              </span>
          </div>
          <div class="card-text">
            hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf
            hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf
            dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh
            djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf hjdhjd dhjfdhjfhjdldfldf dfhdfhdfkdf d
            hdfkdfhbkdhfbdhfbdfdfhjf dhfd djfh djfhdfhjdjf dhjf djf hjdf hdjfhdjf dfhjdfhdbfhjbdjfbdfdfbldfldfdjhfldf
          </div>
        </div>
      </div>
      <!--/Photos -->


      
      

    </div>
    <!--/info pane-->

    <!--Brief info side pane-->
    <div class="col-md-4" style="background-color:white; margin-left:10px">
      brief
    </div>
    <!--/Brief info side pane-->

  </div>

</div>