.branding .title {
  font-size: 25px;
}

.avatar {
border-radius: 50%;
height: 35px;
width: 35px;
}

.header {
  background: white;
  color: #a2aaaf;
    z-index: 10;
    padding: 0 16px 0 0;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);*/
    border-bottom: 1px solid rgba(224, 222, 222, 0.44);
}


header .settings>.dropdown>.dropdown-toggle, header .header-actions>.dropdown>.dropdown-toggle, .header .settings>.dropdown>.dropdown-toggle, .header .header-actions>.dropdown>.dropdown-toggle,
header .search-box input[type="text"], header .search input[type="text"], .header .search-box input[type="text"], .header .search input[type="text"],
header .search-box, header .search, .header .search-box, .header .search,
header .branding .title, .header .branding .title {
     color: #282929; 
}

header .search-box label::before, header .search label::before, .header .search-box label::before, .header .search label::before {
    background-image: url(../assets/search.svg);  
}

header .branding+.search::after, header .branding+.search-box::after, .header .branding+.search::after, .header .branding+.search-box::after {
    background: #282929; 
}
 
.main-container .content-container .content-area {
    padding: 0px; 
}

 #map {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }

 .gm-style img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgba(224, 222, 222, 0.44);
}

.gm-style li h1 {
  font-size: 15px;
  margin:0px;
  line-height: normal;
  font-weight: 500;
}

.gm-style p {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
}