<clr-main-container>

  <clr-header class="header">
    <div class="branding">
      <a href="#" class="nav-link">
        <!--<clr-icon shape="house"></clr-icon>-->
        <span class="title">Tourist Restuarant</span>
      </a>
    </div>

    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text"  placeholder="Search tools...">
      </label>
    </form>


    <div class="header-actions">
      <clr-dropdown clrMenuPosition="bottom-right">
        <button class="nav-text" clrDropdownToggle>
                <img class="avatar" src="http://www.gravatar.com/avatar/?d=identicon" alt="Picture"> Hello, theophy@gmail.com
                <clr-icon shape="caret down"></clr-icon>
            </button>
        <clr-dropdown-menu>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>



  </clr-header>


  <div class="content-container">
    <main class="content-area">
     <app-sidenav></app-sidenav>
          <main class="content-area">
          main page
          </main>
    </main>
  </div>
</clr-main-container>