<nav id="sidenav" class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <div class="found-result-count">
      <strong>FOUND 42 RESULTS</strong>
      <span class="pull-right">
          <clr-dropdown clrMenuPosition="bottom-right">
          <a clrDropdownToggle>
               Rating
                <clr-icon shape="caret down"></clr-icon>
            </a>
          <clr-dropdown-menu>
            <a href="..." clrDropdownItem>Preferences</a>
            <a href="..." clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        </span>
    </div>

    <ul class="results">
      <li>
        <div class="row">
          <div class="col-xs-3">
            <img src="assets/default-picture.jpg">
          </div>
          <div class="col-xs-9">
            <h1>Ikeja City Mall
              <span class="rating pull-right">
               <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </span>
            </h1>
            <p>321 East, 62nd street <br> New York, 10022</p>
            <p>
              <span class="text-primary">Distance:</span> 2.4 miles
            <span class="pull-right">
              <a href="#" class="curved-btn">More &rarr;</a>
            </span>
            </p>
          </div>
        </div>
      </li>
    </ul>


  </section>
</nav>