<nav id="sidenav" class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <div class="found-result-count">
      <strong>FOUND 42 RESULTS</strong>
      <span class="pull-right">
          <clr-dropdown clrMenuPosition="bottom-right">
          <a clrDropdownToggle>
               Rating
                <clr-icon shape="caret down"></clr-icon>
            </a>
          <clr-dropdown-menu>
            <a href="..." clrDropdownItem>Preferences</a>
            <a href="..." clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        </span>
    </div>

    <app-result></app-result>
  </section>
</nav>