/* You can add global styles to this file, and also import other style files */
body {
  color: #a2aaaf;
  font-family: 'Myriad pro';
}
 

.header-overflow-trigger>span, .header-overflow-trigger>span::before, .header-overflow-trigger>span::after {
    background: rgba(131, 134, 134, 0.85);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-primary {
     color: #4EB8FA !important;
}

.curved-btn {
    border: 1px solid #ccc; 
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
}

a.curved-btn:visited {
    color: #a2aaaf;
    text-decoration: none;
}
 
a.curved-btn:hover {
    color: #a2aaaf;
    text-decoration: underline;
}
 
a.curved-btn:link {
    color: #a2aaaf;
    text-decoration: none;
}