/* You can add global styles to this file, and also import other style files */
body {
  color: #a2aaaf;
  font-family: 'Myriad pro';
}
 

.header-overflow-trigger>span, .header-overflow-trigger>span::before, .header-overflow-trigger>span::after {
    background: rgba(131, 134, 134, 0.85);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-primary {
     color: #4EB8FA !important;
}

.curved-btn {
    /*border: 1px solid #ccc; */
    border: 1px solid rgba(224, 222, 222, 0.44); 
    border-radius: 40px;
    padding: 10px 17px 10px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    margin-left:2px; 
}

a.curved-btn:visited {
    color: #a2aaaf;
    text-decoration: none;
}
 
a.curved-btn:hover {
    color: white;
    text-decoration: none;
    background-color: #FFB500;
}
 
a.curved-btn:link {
    color: #a2aaaf;
    text-decoration: none;
}

.fab {
border: 1px solid rgba(224, 222, 222, 0.44);
border-radius: 100%;
padding: 5px;
}

.fab.fab-primary {
  background-color: #00A5FA;
  color: white;
}



/*This is for our google map info windows*/ 
.info-box-wrap {
  background:#fff;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
  border-radius: 3px; 
}

/*arrow*/
.infoBox:before{
  content : " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position:absolute;
  top:-10px;
  left:130px;
}

.infoBox img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgba(224, 222, 222, 0.44);
}

.infoBox h1 {
  font-size: 15px;
  margin:0px;
  line-height: normal;
  font-weight: 500;
}

.infoBox p {
  margin-top: 2px;
  font-size: 13px; 
  line-height: 1.4;
}

.infoBox .more{
    display: block;
    width: 100%;
    padding:5px;
    text-align: center;
    background-color: #FFB500;
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.infoBox .more:hover{
   text-decoration: none;
}

.infoBox .rating {
  color: #00A5FA;
  font-size: 12px;
}

.infoBox .rating .not-filled{
color: rgba(224, 222, 222, 0.44);
  }

  .progress {
      height: 2px;
  }