
ul.results {
  list-style: none;
  margin: 8px; 
}

.results > li {
  border-bottom: 1px solid rgba(224, 222, 222, 0.44);
  padding:5px;
  padding-top:15px;
  padding-bottom: 11px;
}

.results >li:hover {
  background-color: #F5F7F9;
}

.results > li:last-child {
   border-bottom: none; 
}

.results > li img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgba(224, 222, 222, 0.44);
}

.results > li h1 {
  font-size: 15px;
  margin:0px;
  line-height: normal;
  font-weight: 500;
}

.results > li p {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
}

.found-result-count {
  border-bottom: 1px solid rgba(224, 222, 222, 0.44);
  padding : 6px; 
 
}

.found-result-count > strong {
  color: #282929;
   font-size: 10px;
}




